# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# exclude
!model/**
!thirdparty/**

*.pdb
*.tlog
*.iobj
*.exp
*.ipdb
*.sdf
*.cso
*.log
Zephyr.VC.opendb
